<html>
    <head>
        <title>Coffee places</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" />
        <link rel="stylesheet" href="/stylesheets/app.css" />
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="plane icon"></i>Coffee places</div>
                <a href ="/" class="item">Home</a>
                <a href="/beans/new" class="item">New Post</a>
            </div>
        </div>
        
